localhost:443 {
    tls internal

    # Frontend routes
    handle {
        # WebSocket route
        @websockets {
            header Connection *Upgrade*
            header Upgrade websocket
        }
        handle @websockets {
            reverse_proxy backend:8000
        }

        # Static assets
        handle /assets/* {
            reverse_proxy frontend:5173
        }

        # Frontend main route
        handle /* {
            reverse_proxy frontend:5173
        }
    }

    # Backend routes
    handle /users/* {
        reverse_proxy backend:8000
    }
    handle /admin/* {
        reverse_proxy backend:8000
    }
    handle /media/* {
        reverse_proxy backend:8000
    }
}