localhost:443, c2r3p6:443 {
    tls internal

    # Frontend routes
    handle {
        handle /assets/* {
            reverse_proxy frontend:5173
        }

        # Frontend main route
        handle /* {
            reverse_proxy frontend:5173
        }
    }

    # Backend routes
	
    handle /users/* {
        reverse_proxy backend:8000
    }
    handle /admin/* {
        reverse_proxy backend:8000
    }
    handle /media/* {
        reverse_proxy backend:8000
    }
	handle /ws/status/* {
        reverse_proxy backend:8000
    }
	handle /ws/chat/* {
        reverse_proxy backend:8000
    }
}